extends layout

block content
	body.sidebar-mini.skin-purple-light
		.wrapper

			include header

			include sidebar

			// Content Wrapper. Contains page content
			.content-wrapper
				// Content Header (Page header)
				section.content-header

				// Main content
				section.content
					// Your Page Content Here
					.box.box-default
						.box-body
							ul.products-list.product-list-in-box
								li.item
									.product-img
										img(alt="Image" src="dist/img/user1-128x128.jpg")
									.product-info
										ul
											li
												#goodName
											li
												#goodPrice
											li
												| 판매처 : #{itemlocation}
											li
												| 기준일
											li
												| 한달전가격
											li
												| 단위가격
			//Control Sidebar
			aside.control-sidebar.control-sidebar-light
				//Tab panes
				.tab-content
					//Home tab content
					.tab-pane.active#control-sidebar-home-tab
						h3.control-sidebar-heading
							| Recent Activity
			.control-sidebar-bg
		script(src="javascripts/readxml.js")