extends layout

block content
	body.sidebar-mini.skin-purple-light
		.wrapper

			include header

			include sidebar

			// Content Wrapper. Contains page content
			.content-wrapper
				// Content Header (Page header)
				section.content-header
				// Main content
				section.content
					// Your Page Content Here
					each item in row
						.box.box-body.items
							ul.products-list.product-list-in-box
								.product-info
									ul
										li
											h4
												b
													a(href='#') #{item.goodName}
										li 현재가격 : #{item.goodPrice} 원
										li 업체명 : #{item.entpName}
										li 지역 :
										li 무게 :
										li 한달전가격 :
										li 단위가격 :
										li 상세정보 : #{item.detailMean}
										li 그래프 : 
