// Main Header
header.main-header
	// Logo
	a.logo(href='/')
		// mini logo for sidebar mini 50x50 pixels
		span.logo-mini
			b Mart
		// logo for regular state and mobile devices
		span.logo-lg
			b 뭐살까

	// Header Navbar
	ul.nav.navbar.navbar-static-top(role='navigation')
		// Sidebar toggle button
		li
			a.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
				span.sr-only Toggle navigation
		//Search
		li.search-menu.col-xs-8
			form.sidebar-form(action='/search', method='get')
				.input-group
					input#search.form-control(type='text', name='q', placeholder='Search...')
					span.input-group-btn
						button#search-btn.btn.btn-flat(type='submit')
							i.fa.fa-search
		// Navbar Right Menu, Control Sidebar Toggle Button
		.navbar-custom-menu
			ul.nav.navbar-nav
				li.bucket-menu
					a(href="#" data-toggle="control-sidebar")
						i.glyphicon.glyphicon-shopping-cart