extends layout

block content
	body.sidebar-mini.skin-purple-light
		.wrapper

			include header

			include sidebar

			// Content Wrapper. Contains page content
			.content-wrapper
				// Content Header (Page header)

				section.content-header
				// Main content
				section.content
					// Your Page Content Here
					each item in row
						.box.box-body
							ul.products-list
								li
									h4
										b 
											a(href='#') #{item.entpName}
								li 전화번호 :  #{item.entpTelno}
								li 우편번호 :  #{item.postNo}
								li 주소 :  #{item.plmkAddrBasic}