
//REQUIRED JS SCRIPTS
	
//jQuery 2.1.4
script(type='text/javascript', src='//code.jquery.com/jquery-2.1.4.min.js')
	
//Bootstrap 3.3.5
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')

//AdminLTE App
script(src="/js/app.min.js")