// Left side column. contains the logo and sidebar
aside.main-sidebar
	// sidebar: style can be found in sidebar.less
	section.sidebar
		// Sidebar Menu
		ul.sidebar-menu
			li.header
			// Optionally, you can add icons to the links
			li.treeview
				a(href='#')
					i.fa.fa-link
					span 카테고리
					i.fa.fa-angle-left.pull-right
				ul.treeview-menu
					li
						a(href='/goods') 전체
					li
						a(href='/goods/food') 식품
					li
						a(href='/goods/mfood') 가공품
					li
						a(href='/goods/etc') 기타
			li
				a(href='/market')
					i.fa.fa-home
					span 점포 찾기